fastapi
uvicorn
langchain
langchain-openai
langchain-community
tiktoken
openai
python-dotenv
python-multipart
chromadb
pypdf2
PyMuPDF
python-docx
pydantic
beautifulsoup4
requests
lxml
html5lib
webencodings
cohere